<footer>
    <div class="footer-content">
        <p>&copy; 2023 Meu Site de Vendas. Todos os direitos reservados.</p>
        <ul class="socials">
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
        </ul>
    </div>
    <div class="footer-links">
        <a href="/sobre.html">Sobre Nós</a>
        <a href="/contato.html">Contato</a>
        <a href="/termos.html">Termos de Serviço</a>
        <a href="/privacidade.html">Política de Privacidade</a>
    </div>
</footer>