<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../shared/css/global.css">
    <title>Meu Site de Vendas</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Meu Site de Vendas</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../dashboard/index.html">Dashboard</a></li>
                <li><a href="../dashboard/produtos.html">Produtos</a></li>
                <li><a href="../components/carrinho.html">Carrinho</a></li>
                <li><a href="../shared/js/checkout.js">Checkout</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>